.container-2 {
    border: 1px solid black;
    margin: 50px;
    text-align: center;
}
.btn-container{
    border: 1px solid black;
    padding: 20px;
}
.result-container{
    border: 1px solid black;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
}
.result-container img{
    margin: 10px;
}